.movie {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    position: relative;
}

.title {
    font-weight: 600;
    margin-bottom: auto;
}

.image {
    position: relative;
    border-radius: 1rem;
    overflow: hidden;
}

.play {
    position: absolute;
    top: 50%;
    right: 50%;
    padding: 0.5rem;
    width: 4rem;
    transform: translate(50%, -70%);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.button {
    position: absolute;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, 70%);
    color: var(--main-text-color);
    background: var(--white-transparent);
    border-radius: .5rem;
    padding: .5rem;
    width: 90%;
    font-weight: 600;
    backdrop-filter: blur(10px);
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

.button:hover,
.button.active {
    background: var(--main-color);
}

.image:hover .play {
    opacity: 1;
    visibility: visible;
    transform: translate(50%, -50%);
}

.image:hover .button {
    opacity: 1;
    visibility: visible;
    transform: translate(-50%, 50%);
}

@media (max-width: 768px) {
    .title {
        font-size: .875rem;
    }
}