.genres h2 {
    margin-bottom: 1rem;
    font-size: 1.75rem;
}

.list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: .5rem;
}

.list a:global(.active) {
    font-weight: 600;
    color: var(--main-color);
}

@media (max-width: 768px) {
    .list {
        font-size: .875rem;
    }

    .genres h2 {
        font-size: 1.5rem;
    }
}