.blog {
    margin-top: 6rem;
    display: flex;
    gap: 2rem;
    height: 100%;
    color: var(--main-text-color);
}

.mainContent {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    min-width: 0;
    width: 100%;
}

.sideContent {
    width: clamp(20rem, 100%, 60rem);
}

.sticky {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    position: -webkit-sticky;
    position: sticky;
    top: 6rem;
}

@media (max-width: 768px) {
    .sideContent {
        display: none;
    }
}