.search {
    background: transparent;
    border: 1px solid var(--main-text-color);
    color: var(--main-text-color);
    font-weight: 600;
    border-radius: .5rem;
    padding: 1rem 1rem;
    padding-left: 3rem;
}

.searchContainer {
    position: relative;
}

.searchContainer svg {
    position: absolute;
    top: 50%;
    left: 1rem;
    transform: translate(0, -50%);
    width: 1.5rem;
}

.search {
    width: 100%;
}

.search:focus ~ .tip {
    visibility: visible;
    opacity: 1;
    top: calc(100% + .5rem);
}

.tip {
    color: var(--main-text-color);
    position: absolute;
    top: calc(100% + 1.5rem);
    width: 100%;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-weight: 300;
    background-color: var(--background-item);
    visibility: hidden;
    opacity: 0;
    transition: all .3s ease-in-out;
}